﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

If you are an administrator, you can contact the <a href="mailto:jkim@humaxdigital.com">temporary administrator</a> and assign the appropriate role.
