@model ReflectionIT.Mvc.Paging.PagingList<hmx.vodafone.web.Models.DBModels.VodafoneModel>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
}
<h2>Models</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="panel panel-default">
    <div class="panel-body">
        <form method="get" class="form-inline">
            <input name="filter" class="form-control" placeholder="Search by Model ID" value="@Model.RouteValue["Filter"]" />
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
            </button>
            <a asp-action="Index" class="btn btn-default">Back to Full List</a>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" style="font-weight: bold;">
        Models List
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                        <th>
                            @Html.SortableHeaderFor(model => model.ModelId, this.Model)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Name, this.Model)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Description, this.Model)
                        </th>                
                        <th>
                            @Html.SortableHeaderFor(model => model.DelFlag, this.Model)
                        </th>
                        <th>
                            Actions
                        </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DelFlag)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ModelId" class="btn btn-info btn-sm">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.ModelId" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ModelId" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
        <nav aria-label="Products navigation example">
        <vc:pager paging-list="@Model" />
        </nav>
    </div>
</div>