@model hmx.vodafone.web.Models.PaginatedList<hmx.vodafone.web.Models.DBModels.VodafoneActivitySeries>

<div class="panel panel-default">
    <div class="panel-heading" style="font-weight: bold;">
        Activity History
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                        <th>
                            Created Date
                        </th>
                        <th>
                            Event Type
                        </th>
                        <th>
                            DisplayMsg
                        </th>
                        <th>
                            Location
                        </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Action)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        <p>Latitude : @Html.DisplayFor(modelItem => item.Lat)</p>
                        <p>Longitude : @Html.DisplayFor(modelItem => item.Lng)</p>
                    </td>
                    <td>
                    </td>
                </tr>
        }
            </tbody>
        </table>
        @{
            var prevActivitySeriesDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextActivitySeriesDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <a class="btn btn-light @prevActivitySeriesDisabled" onclick="activitySeriesList('@ViewData["activityid"]', '@(Model.PageIndex - 1)');">Previous</a>
        <a class="btn btn-light @nextActivitySeriesDisabled" onclick="activitySeriesList('@ViewData["activityid"]', '@(Model.PageIndex + 1)');">Next</a>
    </div>
</div>