@model hmx.vodafone.web.Models.PaginatedList<hmx.vodafone.web.Models.UserViewModels.UserDeviceViewModel>

@{
    bool isCSRead = (bool)ViewData["IsCSRead"];
}

<div class="panel panel-default">
    <div class="panel-heading" style="font-weight: bold;">
        Device List
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                        <th>
                            Created Date
                        </th>
                        <th>
                            Device Id
                        </th>
                        <th>
                            Name
                        </th>                
                        <th>
                            Imei
                        </th>
                        <th>
                            Role
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Actions
                        </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeviceId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imei)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @if(isCSRead)
                        {
                            <a class="btn btn-primary btn-sm" onclick="popupSendMessage('@item.DeviceUid', '@item.UserId', '@(Model.PageIndex)');" disabled>Send</a>
                            <a class="btn btn-info btn-sm" onclick="activityList('@item.DeviceId', '1');">Activity</a>
                            <a class="btn btn-warning btn-sm" onclick="popupDeviceNameModify('@item.DeviceId', '@item.UserId', '@(Model.PageIndex)');" disabled>Modify</a>
                            <a class="btn btn-danger btn-sm" onclick="popupDeleteUserDevice('@item.DeviceId', '@item.UserId', '@(Model.PageIndex)');" disabled>Delete</a>
                        }
                        else
                        {
                            <a class="btn btn-primary btn-sm" onclick="popupSendMessage('@item.DeviceUid', '@item.UserId', '@(Model.PageIndex)');">Send</a>
                            <a class="btn btn-info btn-sm" onclick="activityList('@item.DeviceId', '1');">Activity</a>
                            <a class="btn btn-warning btn-sm" onclick="popupDeviceNameModify('@item.DeviceId', '@item.UserId', '@(Model.PageIndex)');">Modify</a>
                            <a class="btn btn-danger btn-sm" onclick="popupDeleteUserDevice('@item.DeviceId', '@item.UserId', '@(Model.PageIndex)');">Delete</a>
                        }
                    </td>
                </tr>
        }
            </tbody>
        </table>
        @{
            var prevDeviceListDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDeviceListDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <a class="btn btn-light @prevDeviceListDisabled" onclick="deviceList('@ViewData["userid"]', '@(Model.PageIndex - 1)');">Previous</a>
        <a class="btn btn-light @nextDeviceListDisabled" onclick="deviceList('@ViewData["userid"]', '@(Model.PageIndex + 1)');">Next</a>
    </div>
</div>