@model hmx.vodafone.web.Models.UserViewModels.DeviceNameModifyViewModel
  
<div>  
    <div class="modal-header">  
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>  
        <h4 class="modal-title" id="myModalLabel">Modify Device Name</h4>  
    </div>                 
    
    <div class="modal-body">
            <form asp-controller="User" asp-action="DeviceNameModify"
                data-ajax="true"
                data-ajax-method="POST"
                data-ajax-success="popupRegisterSuccess"
                data-ajax-failure="popupRegisterFailure">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DeviceId" class="control-label"></label>
                    <input asp-for="DeviceId" class="form-control" disabled/>
                    <span asp-validation-for="DeviceId" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="DeviceId" />
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Page" />
                <div class="form-group">
                    <label asp-for="DeviceUid" class="control-label"></label>
                    <input asp-for="DeviceUid" class="form-control" disabled/>
                    <span asp-validation-for="DeviceUid" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="DeviceUid" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Modify" class="btn btn-warning btn-lg btn-block" />
                </div>
            </form>
    </div>
</div>  