.sidebar-menu {
    padding: 50px 20px;

    .sidebar-icon {
        svg {
            width: 13px;
            height: 17px;
            position: relative;
            top:9px;
            path {
                fill: #8095C0;
            }
            margin-right: 20px;
        }
        &.active svg {
            box-shadow: 0 0 16px 4px rgba(70, 255, 188, 0.17);
            path {
                fill: #81e1d4;
            }
        }
    }
    .menu-group-name {
        color: #8095C0;
        font-weight: bold;
        text-transform: uppercase;
        cursor: default;
        margin-bottom: 5px;
        margin-top:20px;
        &.active {
            color: #77CDC5;
        }

    }

    .menu-item {
        color: #8095C0;
        margin-left: 33px;
        text-decoration: none;
        display: block;
        &.active {
            color: #77CDC5;
        }
        &:hover {
            color: #77CDC5;
            transition: color .25s ease-out;
        }
    }
}