
.custom-select {
    font-family: 'SFU Eurostile' !important;
    .ant-select-arrow {
        right: 20px;
        &:before {
            font-weight: bold;
        }
    }
    .ant-select-selection {
        height: 40px;
        border-radius: 99px;
        padding-left: 10px;

        &__rendered {
            line-height: 35px;
        }

        &__placeholder {
            div span {
                color: #8196C0;
            }
        }

        &__clear {
            right: 40px;
        }
    }

}

.ant-select-dropdown {
    border: 1px solid #E7EBF2;
    box-shadow: none !important;
    font-family: 'SFU Eurostile' !important;
}
.ant-select-dropdown-menu-item {
    color: #4f5b7a;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    &:hover {
        background-color: #F8FAFF !important;
        &:not(:first-child){
            border-top: 1px solid #E7EBF2;
        }

        &:not(:last-child){
            border-bottom: 1px solid #E7EBF2;
        }
    }

    &-active {
        background: #fff !important;
    }

    &-selected {
        background-color: #fff !important;
        
    }
}
