@model ReflectionIT.Mvc.Paging.PagingList<hmx.vodafone.web.Models.DBModels.VodafoneAccountIntegrationHistory>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
}
<h2>Integration History</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <form method="get" class="form-inline">
            <input name="filter" class="form-control" placeholder="Search by Imei" value="@Model.RouteValue["Filter"]" />
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
            </button>
            <a asp-action="Index" class="btn btn-default">Back to Full List</a>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" style="font-weight: bold;">
        Account Integration
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                        <th>
                            @Html.SortableHeaderFor(model => model.ReqDate, this.Model)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Seq, this.Model)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Imei, this.Model)
                        </th>                
                        <th>
                            @Html.SortableHeaderFor(model => model.UserId, this.Model)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.State, this.Model)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Succeed, this.Model)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Response, this.Model)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.ExeTime, this.Model)
                        </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReqDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Seq)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imei)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @(item.Succeed?"Y":"N")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Response)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExeTime)
                    </td>
                </tr>
        }
            </tbody>
        </table>
        <nav aria-label="Products navigation example">
        <vc:pager paging-list="@Model" />
        </nav>
    </div>
</div>