
$info-color: #4292C5;                         // primary color for all components
$link-color: #1890ff;                            // link color
$success-color: #3CAE8C;                         // success state color
$warning-color: #faad14;                         // warning state color
$danger-color: #ED7B7A;

button.ant-btn {
    color: white;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    border: none;
    min-width: 70px;
    &:active {
        color: #fff;
        box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
    }
    &:focus {
        color: #fff;
    }
}

button.ant-btn.btn-primary {
    background-color: #6CC74E;
    height: 40px;
    width:175px;
    border-radius: 999px;
    font-size: 14px;
    &:hover {
        background-color: #53b235;
        color:#fff;
    }

    &[disabled]{
        opacity: .7;
        color:#fff;
        &:hover {
            background-color: #6CC74E;
            color:#fff;
        }
    }

}

button.ant-btn.btn-secondary {
    background-color: #fff;
    height: 40px;
    width:150px;
    border-radius: 999px;
    font-size: 14px;
    color: #8196C0;
    border: 1px solid #8A9DC4;
    &:hover {
        background-color: #f5f5f5;
    }

    &[disabled]{
        opacity: .7;
        color:#8196C0;
        &:hover {
            background-color: #fff;
            color:#8196C0;
        }
    }

}
button.ant-btn.btn-success {
    background-color: $success-color;

    &:hover {
        background-color: #2b9978;
        color:#fff;
    }

    &[disabled]{
        opacity: .7;
        color:#fff;
        &:hover {
            background-color: $success-color;
            color:#fff;
        }
    }

}

button.ant-btn.btn-info {
    
    background-color: #4292C5;

    &:hover {
        background-color: #2a79ac;
        color:#fff;
    }

    &[disabled]{
        opacity: .7;
        color:#fff;
        &:hover {
            background-color: #4292C5;
            color:#fff;
        }
    }

}

button.ant-btn.btn-danger {
    
    background-color: #ED7B7A;;

    &:hover {
        background-color: #e55f5e;
        color:#fff;
    }

    &[disabled]{
        opacity: .7;
        color:#fff;
        &:hover {
            background-color: #ED7B7A;
            color:#fff;
        }
    }

}