#root {
    height: 100%;
}

.app {
    height: 100%;
}

.sidebar {
    float: left;
    width: 280px;
    height: 100%;
    background-color: #2D3B58;
    .sidebar-logo {
        background-color: #25324D;
        height: 110px;
        img {
            margin-top: 44px;
            margin-left: 50px;
        }
    }
}

.main {
    height: 100%;
    margin-left: 280px;
    .header {
        height: 110px;
        background-color: #f8fafe;
        border-bottom: 1px solid #e6eaf3;
    }
    .page-content {
        height: calc(100% - 111px);
        padding: 30px 40px;
    }
}