@font-face {
    font-family: 'SFU Eurostile';
    src: url(./fonts/SFUEurostileRegular.TTF) format('truetype'),
        url(./fonts/SFUEurostileDemi.TTF) format('truetype'),
        url(./fonts/SFUEurostileBold.TTF) format('truetype');
}


h1 {
    font-size: 25px;
    color: #8196C0;
    font-weight: 400;
}

h2 {
    font-size: 20px;
    color: #2D3B58;
    font-weight: 400;
}

.bg-primary {
    background-color:#2D3B58;
}

.bg-green {
    background-color: #6CC74E;
}

.text-primary {
    color: #2D3B58;
}

.text-secondary {
    color: #666;
}

.text-heading {
    color: #8196C0;
}

