@{
    var model = (MenuItemListModel)ViewBag.MenuItems;
    var routeData = ViewContext.RouteData.Values;
    var currentController = routeData["controller"];
    var currentAction = routeData["action"];
}
@if(model.MenuItems.Count > 0)
{ 
    var topMenuList = model.MenuItems.Where(m => m.ParentId == 0).OrderBy(m => m.Id);

    foreach (var topMenu in topMenuList)
    {
    <li>
        @{
            var subMenus = model.MenuItems.Where(m => m.ParentId == topMenu.Id).OrderBy(m => m.Id);

            if (subMenus.Count() > 0)
            {
                string subMenuClass = "";
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    @topMenu.MenuItemText
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var subMenu in subMenus)
                    {
                        if (String.Equals(subMenu.ActionName, currentAction as string, StringComparison.OrdinalIgnoreCase)
                            && String.Equals(subMenu.ControllerName, currentController as string, StringComparison.OrdinalIgnoreCase))
                        {
                            subMenuClass = "dropdown active";
                        }
                        else
                        {
                            subMenuClass = "dropdown";
                        }
                        <li>
                            @if (subMenu.Disabled)
                            {
                                <a class="@subMenuClass" disabled="disabled" href="#">@subMenu.MenuItemText</a>
                            }
                            else
                            {
                                @Html.ActionLink(subMenu.MenuItemText, subMenu.ActionName, subMenu.ControllerName, null, new { @class = subMenuClass })
                            }
                        </li>
                    }
                </ul>


            }
            else
            {
                string subMenuClass = "";

                if (String.Equals(topMenu.ActionName, currentAction as string, StringComparison.OrdinalIgnoreCase)
                    && String.Equals(topMenu.ControllerName, currentController as string, StringComparison.OrdinalIgnoreCase))
                {
                    subMenuClass = "active";
                }
                else
                {
                    subMenuClass = "";
                }

                if (topMenu.Disabled)
                {
                    <a class="@subMenuClass" disabled="disabled" href="#">@topMenu.MenuItemText</a>
                }
                else
                {
                    @Html.ActionLink(topMenu.MenuItemText, topMenu.ActionName, topMenu.ControllerName, null, new { @class = subMenuClass })
                }

            }
        }
    </li>
    }
}
