@model hmx.vodafone.web.Models.DBModels.VodafoneDevice

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vodafone Device</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeviceId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeviceVersion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceVersion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChipsetVersion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChipsetVersion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModelId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeviceUid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceUid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsInit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsInit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Battery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Battery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConnServerIp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConnServerIp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChannelId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChannelId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActivatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InactivatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InactivatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LandLine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LandLine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DeviceId" class="btn btn-success">Edit</a>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>
